:root {
    --color-purple: #A729F5;
    --color-dark-navy: #313E51;
    --color-navy: #3B4D66;
    --color-grey-navy: #626F7F;
    --color-light-bluish: #ABC1E1;
    --color-light-gray: #F4F6FA;
    --color-pure-white: #FFFFFF;
    --color-green: #26D782;
    --color-red: #EE5454;

    --font-family-base: "Rubik", sans-serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 600;

    --font-size-75: 0.75rem;
    --font-size-87: 0.875rem;
    --font-size-100: 1rem;
    --font-size-110: 1.125rem;
    --font-size-125: 1.25rem;
    --font-size-150: 1.5rem;
    --font-size-175: 1.75rem;
    --font-size-200: 2rem;
    --font-size-225: 2.25rem;
    --font-size-250: 2.5rem;
    --font-size-300: 3rem;
    --font-size-400: 4rem;
    --font-size-550: 5.5rem;
    --font-size-900: 9rem;


    --line-height-large: 1.5;

    --spacing-25: 0.25rem;
    --spacing-50: 0.5rem;
    --spacing-75: 0.75rem;
    --spacing-100: 1rem;
    --spacing-125: 1.25rem;
    --spacing-150: 1.5rem;
    --spacing-175: 1.75rem;
    --spacing-200: 2rem;
    --spacing-215: 2.125rem;
    --spacing-250: 2.5rem;
    --spacing-300: 3rem;
    --spacing-350: 3.5rem;
    --spacing-400: 4rem;
    --spacing-450: 4.5rem;
    --spacing-500: 5rem;
    --spacing-530: 5.3rem;
    --spacing-600: 6rem;
    --spacing-700: 7rem;

    --border-radius-small: 0.25rem;
    --border-radius-medium: 0.75rem;
    --border-radius-large: 1rem;
    --border-radius-extra-large: 1.5rem;
}